@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    font-family: "Quicksand",sans-serif;
    color: #333;
}
.navbar{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 600px; */
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}
.navbar h1{
    color: rgb(79, 70, 229);
}
.navbar.links{
    margin-left:auto ;
}
.navbar a{
    margin-left: 16px ;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover{
    color: rgb(79, 70, 229);
}
.content{
    /* max-width: 600px; */
    margin: 40px auto;
    padding: 20px 40px ;
}

.content-preview{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}
.content-preview:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.content-preview h2{
    font-size: 20px;
    color: rgb(79, 70, 229);
    margin-bottom: 8px;
}
.content-preview a{
    text-decoration: none;
}
.blog-details h2{
    font-size: 20px;
    color: rgb(79, 70, 229);
    margin-bottom: 10px;
}
.blog-details div{
    margin: 20px 0;
}
.blog-details button{
    background-color: rgb(79, 70, 229);
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.new-blog{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.new-blog label{
    text-align: left;
    display: block;
}
.new-blog h2{
    font-size: 20px;
    color: rgb(79, 70, 229);
    margin-bottom: 30px;
}
.new-blog input,.new-blog textarea{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
}
.new-blog button{
    background-color: rgb(79, 70, 229);
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.not-found h2{
    margin: 20px 0;
    font-size: 40px;
}
.not-found p{
    font-size: 22px;
    margin: 20px 0;
}
.not-found a{
    text-decoration: none;
    color: rgb(79, 70, 229);
}